
<div class="container-fluid">

	<div class="row">

		<div class="col-md-12 col-xs-12">
		<!--  knowledge button -->
			<% actions  = {"LEARNING" => "learnt_word", "IGNORES" => "learning_word", "KNOWS" => "forgot_word" }	%>
			<% messages = {"LEARNING" => "Know it",     "IGNORES" => "Learning it",   "KNOWS" => "Forgot it" }	%>
			<form action="<%=actions[word[:rel]]%>" method="POST">
				<input type="hidden" name="word_unique" value="<%= word[:word_unique] %>">
				<input type="hidden" name="backbone_id" value="<%= backbone_node_id %>">
				<input type="submit" class="btn btn-default btn-lg btn-block" value="<%=messages[word[:rel]]%>">
			</form>
	</div>
	</div>

	<hr>
	<div class="row">

		<!--  decomposition by radicals -->
		<div class="col-md-5 col-xs-5">
			<div class="container font-lg">
				<% ordered_chars.each do |ch, radicals, backbone_id| %>
					<% if backbone_id && backbone_id.numeric? %>
						<form action="backbone_node" method="GET">
							<input type="hidden" name="backbone_id" value="<%= backbone_id.to_i %>">
							<input type="submit" class="btn btn-default btn-lg" value=" <%= ch %>">
							<span><%=radicals.join('+')%></span>
						</form>
					<% else %>
						<input type="submit" class="btn btn-default btn-lg disabled" value=" <%= ch %>">
						<span><%=radicals.join('+')%></span>
					<% end %>
				<% end %>
			</div>
		</div>

		<!-- other details -->

		<div class="col-md-7 col-xs-7 font-lg">
			<ul>
				<li>
				<%= word[:pinyin] %>
				</li>
				<li>
				<%= word[:level] %>
				</li>
				<li>
				<%= word[:eng] %>
				</li>
				<li>
				<a target="_blank" href=http://ce.linedict.com/dict.html#/cnen/example?query=<%=word[:simp]%>>Usage</a>
				</li>
			</ul>
		</div>


	</div>
</div>
