<h1><%= @title %></h1>
<br>

<ul>
	<li>
	Total words: <%= @num_words %>
	</li>
	<li>
	HSK words: <%= @num_hsk_words %>
	</li>
	<li>
	Estimated Text level: <%= @score %>
	</li>
	<li>
	Estimated User Known: <%= @words_known_proportion %>
	</li>
</ul>
<br>

<% @words.each do |word| %>

	<% if word[:type] == :hsk_word %>
		<% word_rel = word[:word][:rel].downcase %>
		<% pinyin = word[:word][:pinyin] %>
	<% else %>
		<% word_rel = '' %>
		<% pinyin = '' %>
		<% if word[:text] == "\n" %>
			<br><% next %>
		<% end %>
	<% end %>

	<div class="word <%= word_rel %>">
		<div class="pinyin">
			<%= pinyin %>
		</div>
		<div class="hanzi">
			<%= word[:text] %>
		</div>
	</div>

<% end %>

<br>
<p>Original Text</p>
<p><%= @text %></p>
